.about_class {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


        img {
            width: 85%;
            height: 223px;
            object-fit: cover;
            border-radius: 20px;
          
        }

        .flex-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center ;
            align-content: normal;
            width: 100%;

            .container_info {
              color: $color-1;
              background: rgb(245, 241, 241);
              font-weight: 300;
              width: 75%;
              border-radius: 5px;
              padding: 20px;
              overflow: hidden;
            }
            
          
            
           
            

            .flex-items {
                background: $color-1;
                width: 75%;
                height: 52px;
                margin: 20px;
                margin-bottom: 0px;
                border-radius: 5px;
                display: flex;
                align-items: center ;
                justify-content: space-between;
                

                h3 {
                    color: $color-2;
                    font-size: 22px;
                    margin-left: 15px;
                }

                img {
                    width: 25px;
                }

                .iconContainer {
                  display: inline-block;
                  font-size: 25px;
                  transition: transform 0.4s ease-in-out;
                  transform-origin: 35% 50%;
                }
                
                .iconContainer.rotate {
                  transform: rotate(-180deg);
                }
                
                .icon {
                  font-size: 34px;
                  color: white;
                  margin-right: 10px;
                  font-weight: 800;
                }
                
               
                
                
                
            }

          }
          @media (max-width: 767px) {
            img {
              width: 90%;  // Par exemple, ajuster la largeur de l'image pour petits écrans
              height: 250px;  // ajuster la hauteur
              margin-right: 15px;
              margin-left: 15px;
            }
        
            .flex-container {
              .flex-items {
                width: 90%;  // ajuster la largeur des items de flexbox
                height: 40px;  // ajuster la hauteur
        
                p {
                  font-size: 16px;  // ajuster la taille de la police pour les petits écrans
                }
        
                .upIcon {
                  font-size: 18px;  // ajuster la taille de l'icône
                }

                h3 {
                  font-size: 18px ;
                }

                .icon{
                  font-size: 25px ;
                }

              }
            }
          }

}