.Gallery {
    display: flex;
    background: #f6f6f6;
    height: max-content;
    width: 85%;
    border-radius: 25px;
    margin: 43px;
    padding: 55px;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        row-gap: 50px;
        
    }
    
    
    .gallery_article {

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        height: 340px;
        width: 340px;


        Img {
            object-fit: cover;
            width: 340px;
            height: 340px;
            border-radius: 10px;

        }

        .gallery_article_article{
            display: flex;
            width: 340px;
            height: 340px;
            border-radius: 10px;
            margin-top: -344px;
            opacity: 0.3;
            background :linear-gradient(180deg, #ffffff 0%, #000000 50%);
            z-index: 1;
        }

        p {
            display: flex;
            position: absolute;
            width: 300px;
            height: 52px;
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            text-align: left;
            color: white;
            margin-top: -65px;
            margin-left: 20px;

        }

    }

    


    }

    @media (max-width: 1023px) {
        .Gallery {
            background: white;
            padding: 0;
            width: 100%;
         
            margin: 0;

            ul {
                row-gap: 0;
                flex-direction: column;
                width: 100%;
            }

            .gallery_article{
                margin-top: 20px;
                margin-bottom: 10px;
                width: 100%;




                img {
                      width: 90%;
                      width: 340px !important;
                    }

                    .gallery_article_article{
                        width: 90%;
                        width: 340px;
                    }

            }
    }
    }


    
    @media (max-width: 767px) {
        .Gallery {
            background: white;
            padding: 0;
            width: 100%;
            margin: 0;

            ul {
                row-gap: 0;
                flex-direction: column;
            }

            .gallery_article{
                margin-top: 20px;
                margin-bottom: 10px;
                width: 90%;
                margin: 20px;
                margin-right: -10px;




                img {
                      width: 90% !important;

                    }

                    .gallery_article_article{
                        width: 90% !important;
                    }

            }

        }
    }

   